.slideopen{
	float: right;
	padding-right: 20px;
}
.chat-body {
	padding:5px 16px 0px;
	height:89%;
	width: 90%;
	overflow:auto;
}
.textbox{
	padding:12px 10px;
	width:75%;
	border-width:1px;
	border-color:rgba(0,0,0,.25);
	border-radius: 5px;
	margin-top: 2px;
}

.chat-footer {
		position:fixed;
		padding: 5px 5px;
		width:45%;
    left: 25%;
    z-index: 5;
}
.ctext{
	font-size: 12px;

}
.global_msg{
    border:1px;
	margin-bottom:2px;
	margin-left: 5px;
	padding:10px;
	border-radius:10px;
	color:black;
	background-color:#efefef;
	overflow-wrap:break-word;
	max-width: 50%;
	position: relative;
	float: left;
}
.wrp{
	max-width: 100%;
	overflow: hidden;
}
.metext{
	font-size: 12px;
}
.selftext{
	border:1px;
margin-bottom:2px;
position: relative;
left:0px;
padding:10px;
border-radius:10px;
color:black;
background-color:rgba(51, 255, 0, 0.28);
overflow-wrap:break-word;
max-width: 70%;
float: right;
}

.typing{
	position: fixed;
	top: 56px;
	left:39%;
	z-index:5;
	display:block;
	width:80px;
	height:22px;
	text-align: center;
	color:black;
	border-radius: 0px 0px 10px 10px;
	background-color:bisque;
}
.stoppedtyping{
	position: fixed;
	top: 56px;
	left:39%;
	z-index:5;
	display:none;
	width:80px;
	height:22px;
	text-align: center;
	color:black;
	border-radius: 0px 0px 10px 10px;
	background-color:bisque;
}
